################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeasurementConversion/v17
/src/MeasurementConversion/.vs/MeasurementConversion
/src/MeasurementConversion/Core/bin/Debug/net8.0
/src/MeasurementConversion/CoreTests/bin/Debug/net8.0
/src/MeasurementConversion/Core/obj/Core.csproj.nuget.dgspec.json
/src/MeasurementConversion/Core/obj/Core.csproj.nuget.g.props
/src/MeasurementConversion/Core/obj/Core.csproj.nuget.g.targets
/src/MeasurementConversion/Core/obj/project.assets.json
/src/MeasurementConversion/Core/obj/project.nuget.cache
/src/MeasurementConversion/Core/obj/Debug
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/refint/Measurement.Core.Tests.dll
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.AssemblyInfo.cs
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.AssemblyInfoInputs.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.assets.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.csproj.AssemblyReference.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.csproj.FileListAbsolute.txt
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.sourcelink.json
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.dgspec.json
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.g.props
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.g.targets
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.AssemblyInfo.cs
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.AssemblyInfoInputs.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.assets.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.csproj.AssemblyReference.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.csproj.BuildWithSkipAnalyzers
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.csproj.CopyComplete
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.csproj.CoreCompileInputs.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.csproj.FileListAbsolute.txt
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.genruntimeconfig.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Core.Tests.sourcelink.json
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Measurement.Core.Tests.dll
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/Measurement.Core.Tests.pdb
/src/MeasurementConversion/CoreTests/obj/project.assets.json
/src/MeasurementConversion/CoreTests/obj/project.nuget.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/ref/Measurement.Core.Tests.dll
/src/MeasurementConversion/CoreTests/obj/Debug/net8.0/refint/Measurement.Core.Tests.dll
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.dgspec.json
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.g.props
/src/MeasurementConversion/CoreTests/obj/Core.Tests.csproj.nuget.g.targets
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.AssemblyInfo.cs
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.AssemblyInfoInputs.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.assets.cache
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.csproj.FileListAbsolute.txt
/src/MeasurementConversion/CoreTests/obj/Debug/net5.0/Core.Tests.GeneratedMSBuildEditorConfig.editorconfig
/src/MeasurementConversion/CoreTests/obj/project.assets.json
/src/MeasurementConversion/CoreTests/obj/project.nuget.cache
